@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

body{
    overflow: hidden;
}

main{
    height: auto;
    width: 100%;
    display: flex;
}

section{
    height: 100vh;
    width: 50%;
    /* background-color: #85FFBD;
    background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%); */
    background-image: linear-gradient(135deg, #f5f7fa 50%, #edf0f3 100%);
    padding: 5em;
    padding-right: 1.5em;

}

.farmer-pic{
    width: 50%;
    justify-content: center;
    
}

.farmer-pic img{
    width: 32em;
    height: 25em;
    border-radius: 2em;
    -webkit-box-shadow: 10px 10px 54px -22px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 54px -22px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 54px -22px rgba(0,0,0,0.75);
}

.title-span, .title-span-one, .title-span-two{
    font-size: 4em;
    display: flex;
    line-height: 1.5em;
}

.title-span-two{
    color:rgb(22, 167, 22) ;
}

.span-paragraph{
    font-family: "Poppins", sans-serif;
}

.loremspan{
    width: 45%;
}

.button{
    display: inline-block;
    padding: .75rem 1.25rem;
    margin: 1em;
    border-radius: 10rem;
    color: #fff;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: .15rem;
}

.button a{
    text-decoration: none;
    color: #000;
    font-size: 1em;
}

.button a:active{
    color: #000;
}